/* === Overlay Viewport Styles === */

#imc-overlayviewport {
    top              : 0px;
    left             : 0px;
    z-index          : 1000;
    display          : block;
    background-color : white;
}

html.no-cssanimations
#imc-overlayviewport {
    display : none;
}

html.no-cssanimations
#imc-overlayviewport.active {
    display : block;
}

#imc-overlayviewport {
    -webkit-transform  : translateY(150%);
    -moz-transform     : translateY(150%);
    -ms-transform      : translateY(150%);
    transform          : translateY(150%);
    
    -webkit-transition : -webkit-transform .5s;
    -moz-transition    : -moz-transform .5s;
    transition         : transform .5s;
}

#imc-overlayviewport.active {
    -webkit-transform : none;
    -moz-transform    : none;
    -ms-transform     : none;
    transform         : none;
}

#imc-overlayviewport-container {
    position : absolute;
    top      : 0px;
    left     : 0px;
    right    : 0px;
    bottom   : 40px;
}

#imc-overlayviewport-controls {
    position         : absolute;
    left             : 0px;
    right            : 0px;
    height           : 40px;
    bottom           : 0px;
    background-color : white;
    border-top       : solid 2px rgba(0, 0, 0, .1);
}

body.imc-devicefamily-tablet
#imc-overlayviewport-controls {
    height : 50px;
}


#imc-overlayviewport-close .icon {
    background-image : url(images/overview-close.png);
}
