@import url(exam-desktop.css);
@import url(exam-tablet.css);
@import url(exam-phone.css);

.imc-exam {
    overflow : hidden;
}

@-webkit-keyframes exam-start-hide {
    from {
        opacity : 1;
    }
    to {
        opacity : 0;
    }
}

@-moz-keyframes exam-start-hide {
    from {
        opacity : 1;
    }
    to {
        opacity : 0;
    }
}

@keyframes exam-start-hide {
    from {
        opacity : 1;
    }
    to {
        opacity : 0;
    }
}