<html>
	<head>
		<meta charset="UTF-8">
		<title>{{title}}</title>
		<link rel="stylesheet" href="css/modules.css">
		<script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="js/modules.js"></script>
		<script type="text/javascript" src="js/sockjs-0.3.4.min.js"></script>
                <script type="text/javascript" src="js/vertxbus-2.1.js"></script>
		<script>
			modules.init();
		</script>
	</head>

	<body>
		<img id="screen" src="img/modules/comm/comm1.png" style="display: inline;"/>
					
				
		<div id="screen_area">
			<div id="left_area">
				<div id="machine_area">
					<table id="table_area">
					<tbody>
						<tr>
							<td style="text-align: center; vertical-align: middle;">
								<img id="tuer" src="img/modules/states/tuer_ja.png" width="25%" alt="" />
							</td>
						</tr>
						<tr>
							<td style="text-align: center; vertical-align: middle;">
								<img id="feder" src="img/modules/states/feder_ja.png" width="25%" alt="" />
							</td>
						</tr>
						<tr>
							<td style="text-align: center; vertical-align: middle;">
								<img id="deckel" src="img/modules/states/deckel_ja.png" width="37%" alt="" />
							</td>
						</tr>
						<tr>
							<td style="text-align: center; vertical-align: middle;">
								<img id="bauteil" src="img/modules/states/bauteil_ja.png" width="25%" alt="" />
							</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>			
		</div>
	</body>
</html>