<html>
	<head>
		<meta charset="UTF-8">
		<title>{{title}}</title>
		<link rel="stylesheet" href="css/process.css">
		<script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="js/process.js"></script>
		<script type="text/javascript" src="js/sockjs-0.3.4.min.js"></script>
                <script type="text/javascript" src="js/vertxbus-2.1.js"></script>
		<script>
			modules.init();
		</script>
	</head>

	<body>
		<img id="process" src="img/process/processes/proc1.png" style="display: inline;"/>
					
				
		<div id="screen_area">
			<div id="right_area">
				<div id="history_area">
                                    <div id="history_header_area">
                                        <h1><p id="head">Historie</p></h1>
                                    </div>
                                
                                    <div id="history_table_area">
                                        <table>
					<tbody>
						<tr>
                                                        <td>
                                                                <img id="istep1" src="img/process/haken.png" alt="" />
                                                        </td>
                                                        <td>
                                                                <p id="step1"> Testprozess</p>
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <img id="istep2" src="img/process/haken.png" alt="" />
                                                        </td>
                                                        <td>
                                                                <p id="step2"> Testprozess2</p>
                                                        </td>						
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <img id="istep3" src="img/process/haken.png" alt="" />
                                                        </td>
                                                        <td>
                                                                <p id="step3"> Testprozess2</p>
                                                        </td>						
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <img id="istep4" src="img/process/haken.png" alt="" />
                                                        </td>
                                                        <td>
                                                                <p id="step4"> Testprozess2</p>
                                                        </td>						
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <img id="istep5" src="img/process/haken.png" alt="" />
                                                        </td>
                                                        <td>
                                                                <p id="step5"> Testprozess2</p>
                                                        </td>						
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <img id="istep6" src="img/process/haken.png" alt="" />
                                                        </td>
                                                        <td>
                                                                <p id="step6"> Testprozess2</p>
                                                        </td>						
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <img id="istep7" src="img/process/haken.png" alt="" />
                                                        </td>
                                                        <td>
                                                                <p id="step7"> Testprozess2</p>
                                                        </td>						
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <img id="istep8" src="img/process/haken.png" alt="" />
                                                        </td>
                                                        <td>
                                                                <p id="step8"> Testprozess2</p>
                                                        </td>						
                                                </tr>
                                            </tbody>
                                    </div>
					
				</table>
				</div>
			</div>			
		</div>
	</body>
</html>