<html>
  <head>
    <title>Appsist Module Visualisation</title>
    <meta content="">
    <style></style>
  </head>
  <body>
  
  <table>
	<tbody>
		<tr>
			<td>
				<img src="{procbild}" alt="" />
			</td>
			<td width="25%">
				<table cellspacing="50">
					<tbody>
						<tr>
							<td>
								<h1>
									<strong>
										 Historie
									</strong>
								</h1>
							</td>
						</tr>
						<tr>
							<td>
								<table>
									<tbody>
										<tr>
											<td>
												<table>
													<tbody>
														<tr>
															<td>
																<img src="{hakenbild}" alt="" />
															</td>
															<td>
																{Prozessname}
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr>
											<td>
												<table>
													<tbody>
														<tr>
															<td>
																<img src="{hakenbild2}" alt="" />
															</td>
															<td>
																{Prozessname2}
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				&nbsp;
			</td>
		</tr>
	</tbody>
</table>

  
  
  </body>
</html>